HTTP_PORT=3000
HTTP_HOST='http://localhost:3000'

DATABASE_USER='root'
DATABASE_PASSWORD='123456'
DATABASE_HOST='localhost'
DATABASE_PORT=5433
DATABASE_NAME='nestjs-sandbox'
DATABASE_URI='postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}'
